{% extends "base.html" %}
{% block title %} Switch {% endblock %}

{% block content %}
<head>
    <title> Switches </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{url_for('static', filename='../static/styles/tablas.css') }}" />
</head>
<body>
    <nav>
        <ul>
            <li> <a href="{{ url_for('routes.index') }}">Inicio</a></li>
            <li class="dropdown">
              <a class="dropbtn">Dispositivos en stock</a>
              <div class="dropdown-content">
                <a href="{{ url_for('routes.verRouters') }}">Routers</a>
                <a href="{{ url_for('switches.verSwitches') }}">Switches</a>
                <a href="{{ url_for('hubs.verHubs') }}">Hubs</a>
                <a href="{{ url_for('fortinets.verFortinets') }}">Fortinets</a>
              </div>
            </li>
            <li style="float: right"> <a class="active" href="{{ url_for('routes.vercontacta')}}"> ¡CONTACTA CON NOSOTROS! </a> </li> 
          </ul>
    </nav>
    <table border="1" style="width: 100%;">
        <tr>
            <td class="columna"> Id </td>
            <td class="columna"> Nombre </td>
            <td class="columna"> Puertos </td>
            <td class="columna"> Tasa de Reenvío </td>
            <td class="columna"> Montaje en rack </td>
            <td class="columna"> Fuente de energía </td>
            <td class="columna"> Color del producto </td>
            <td class="columna"> Precio </td>
        </tr>
        {% for switch in switches %}

        <tr>
            <td> {{switch.Id}}</td>
            <td> {{switch.Nombre}}</td>
            <td> {{switch.Puertos}}</td>
            <td> {{switch.Tasa_de_reenvío}}</td>
            <td> {{switch.Montaje_en_rack}}</td>
            <td> {{switch.Fuente_de_energía}}</td>
            <td> {{switch.Color_del_producto}}</td>
            <td> {{switch.Precio}}</td>
        </tr>
    {% endfor %}
    </table>
<br/>
</body>

{% endblock %}